.navbar {
  background: none;
  padding: clamp(0.35rem, 1vh, 0.75rem) clamp(0.75rem, 2vw, 1.5rem);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: clamp(9vh, 7vh, 7vh);
  z-index: 1000;
  width: 100vw;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.menu-btn {
  background: none;
  border: none;
  color: var(--primary-text);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: color 0.2s ease;
}

.menu-btn:hover {
  color: var(--primary-text) !important;
  background: rgba(255, 255, 255, 0.1) !important;
  border-radius: 50% !important;
}

.brand {
  font-weight: 700;
  font-size: 1.35rem;
  color: var(--primary-text);
}

.nav-links {
  display: flex;
  gap: 0.75rem;
}

.nav-link {
  color: var(--navbar-links-text);
  text-decoration: none;
  font-size: var(--font-size-nav-links);
  transition: color 0.2s ease;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: var(--accent-hover);
  transform: scale(1.05);
}

.nav-log-btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}


/* Search box */

.search-box {
  display: flex;
  align-items: center;
  background: var(--tertiary-bg);
  border: 1px solid var(--secondary-bg);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  gap: 0.75rem;
  width: 100%;
  max-width: 350px;
  transition: all 0.2s ease;
}

.search-box:hover {
  border-color: var(--accent);
  background-color: rgba(255, 255, 255, 0.15);
}

.search-box:focus-within {
  border-width: 0.15rem;
  border-color: var(--accent);
  box-shadow: 0 0 8px rgba(29, 185, 84, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
}

.search-box i {
  color: var(--secondary-text);
  font-size: 0.8rem;
}

.search-box input {
  background: none;
  border: none;
  color: var(--primary-text);
  flex: 1;
  outline: none;
  font-size: 0.9rem;
}

.search-box input::placeholder {
  color: var(--secondary-text);
}

.btn-secondary {
  background: none;
  border: none;
  color: var(--navbar-links-text);
  padding: 0.35rem 1.1rem;
  border-radius: 2rem;
  font-size: 0.935rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-secondary:hover {
  color: var(--accent-hover);
}

.btn-primary {
  background: var(--accent);
  border: none;
  color: #000;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-size: 0.955rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary:hover {
  background: var(--accent-hover);
  transform: scale(1.05);
}
