@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: #121212;
  --secondary-bg: #1e1e1e;
  --tertiary-bg: #282828;
  --navbar-links-text: #b3b3b3;
  --primary-text: #fff;
  --secondary-text: #b3b3b3;
  --accent: #fff;
  --accent-hover: #f0f0f0;
  --violet-primary: #8a2be2;
  --violet-secondary: #7a1be2;
}

::selection {
  background: var(--violet-primary);
  color: var(--accent);
}